@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  color: rgb(205, 196, 196);
}

body {
  height: 100vh;
  background: linear-gradient(to top left, rgb(21, 20, 21), rgb(58, 55, 60))
    no-repeat;
}

h2 {
  padding: 1rem;
  text-align: center;
}
table {
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

td {
  font-size: 1rem;
  border: rgb(187, 183, 183) solid 0.03em;
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 1rem;
}
thead {
  font-weight: 700;
  color: black;
  background: linear-gradient(to bottom, rgb(170, 165, 165), rgb(58, 55, 60));
}

.new-book {
  cursor: pointer;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.modal {
  position: absolute;
  background-color: black;
  top: 40%;
  left: 50%;
  width: 60%;

  transform: translate(-50%, -50%);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 101;
}

.book-info {
  display: flex;
  text-align: center;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
}

.close-modal {
  cursor: pointer;
  position: absolute;
  right: 2%;
  font-size: 3rem;
  border: none;
  background: none;
  transform: translateY(-30%);
}

.overlay {
  position: fixed;
  padding-top: 3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  display: none;
}

.book-rate {
  display: flex;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 70%;

  align-items: center;
}
.update-rate {
  font-size: 1.2rem;
}

.rate-placeholder {
  flex-basis: 50%;
}

.forms {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-around;

  padding: 1.4rem;
  align-items: center;
}

.select-sort {
  flex-basis: 30%;
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

button {
  cursor: pointer;
  width: 5rem;
  border: rgb(187, 184, 184) solid 1px;
  padding: 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
  color: rgb(207, 207, 207);
  background: none;
  transition: all 0.2s;
  /* background: linear-gradient(to bottom left, #a17c98, rgba(255, 217, 0, 0.1)); */
}

button:hover {
  color: rgba(186, 180, 180, 0.618);
  border: rgba(186, 180, 180, 0.618) solid 1px;
}

.paging {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  margin-bottom: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.page-btn {
  margin-left: 0.3rem;
}

.active {
  background-color: rgba(167, 167, 167, 0.256);
}

.add-book {
  flex-basis: 40%;
}

.eror-msg {
  border: none;
  font-size: 1.5rem;
}

.range-container {
  display: flex;
  width: 110%;
  justify-content: space-around;
}
